<% if logged_in? %>
  <li>
    <span><%= I18n.t('tog_conversatio.views.member.blogs.blogs.your_blogs') %></span>
    <ul>
      <% current_user.blogs.each do |blog| %>
       <% unless blog.new_record?%>
        <li class="clearfix">
            <div class="text">
                <%= link_to blog.title, conversatio_blog_path(blog) %>
                <small><%= link_to I18n.t('tog_conversatio.views.member.blogs.blogs.posts'), member_conversatio_blog_posts_path(blog) %> </small>
            </div>
        </li>
        <% end -%>      
      <% end -%>
      <li><%= link_to I18n.t('tog_conversatio.views.member.blogs.blogs.create_new_blog'), new_member_conversatio_blog_path, :class => 'add' %></li>
    </ul>
  </li>
<% end -%>
