<h1><%= I18n.t('tog_conversatio.views.posts.all_by_tag.title', :tag_name => @tag.name) %></h1>

<% content_for :sidebar do %>
  <%= render :partial => 'conversatio/blogs/tag_cloud_blogs' %>
<% end %>

<% content_for :sidebar_member do %>
  <%= render :partial => 'member/conversatio/blogs/blogs' %>
<% end %>

<%= render :partial => 'list' %>